.container{
  margin: 50px auto;
  max-width: 100%;
  width: 600px;
  height: auto;
  background-color: rgb(37, 37, 37);
  color: #dfdfdf;
  padding: 20px 40px;
  border-radius: 10px;
}

.box{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  height: 100%;
}

.image-user{
  margin: auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
}

.image-user img{
  width: 90%;
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.field-dates{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 2px solid #fff;
  padding: 7px 0 3px 0;
}

.date :where(label){
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: .3s ease;
  color: rgba(253, 253, 253, 0.555);
}

.date :where(span){
  font-size: 1.1rem;
}

.title-description{
  border-left: 3px solid #dfdfdf;
  padding-left: 10px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(253, 253, 253, 0.555);
  font-size: 1.3rem;
  margin-bottom: 16px;
}

.description p{
  line-height: 2rem;
  margin: 6px 0;
  text-align: justify;
}
