header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  height: 100px;
  box-shadow:  0 0 30px 5px rgb(119, 119, 119);
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logo h1{
  position: relative;
  cursor: pointer;
}

.logo h1::after{
  content: " ";
  height: 3px;
  width: 0;
  background-color: lightcoral;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .3s ease;
}

.logo h1:hover::after{
  width: 100%;
}

.icon-rocket{
  width: 50px;
  height: 50px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon-rocket i {
  font-size: 2.3rem;
}
